#outputRow
  display: none;

#output
  padding: 2.5rem 3rem;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  margin: 0 .2rem;

.embed-container
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

.embed-container iframe, .embed-container object, .embed-container embed
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  